<footer class = "footer">
    <div class = "footer-container">
        <p class= "footer-title">
            <span id="year"></span> Society of Software Engineers - CSUN
        </p>
    </div>

    <p class = "footer-links">
        <a href = "folders/soseJoin.html">Join</a>
        <a href = "folders/soseEvents.html">Events</a>
        <a href = "folders/soseTeam.html">Team</a>
        <a href = "folders/tutor.html">Tutoring</a>
    </p>

    <p class= "footer-links">
        <a href = "https://csun.campuslabs.com/engage/organization/sose" target = "_blank">CSUN Engage Page</a>
    </p>

    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
</footer>