<nav>
    <ul>
        <div class = "navCenter">
        <li><a href = "index.html">Home</a></li>
        <li><a href = "folders/soseTeam.html">Team</a></li>
        <li><a href = "folders/soseJoin.html">Join</a></li>
        <li><a href = "folders/soseEvents.html">Events</a></li>
            <li class = "dropdown">
                <a href = "#" class = "dropbtn">More</a>
                <ul class = "dropdown-content">
                    <li><a href = "folders/tutor.html">Tutoring</a></li>
                    <li><a href = "#">Projects</a></li>
                    <li><a href = "folders/merch.html">Merch</a></li>
                </ul>
            </li>
        </div>
    </ul>
</nav>